# =========================
# Flutter (root)
# =========================
.dart_tool/
build/

# =========================
# Flutter frontend
# =========================
moodi-frontend/.dart_tool/
moodi-frontend/build/

# =========================
# Android
# =========================
android/
moodi-frontend/android/local.properties
moodi-frontend/android/.gradle/

# =========================
# iOS
# =========================
ios/
moodi-frontend/ios/Pods/
moodi-frontend/ios/.symlinks/

# =========================
# macOS
# =========================
macos/
moodi-frontend/macos/Flutter/ephemeral/

# =========================
# IDE / OS
# =========================
.idea/
*.iml
